/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.

/* orbitron-regular - latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: url('../../static/fonts/orbitron-v23-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../static/fonts/orbitron-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../static/fonts/orbitron-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../static/fonts/orbitron-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../static/fonts/orbitron-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../static/fonts/orbitron-v23-latin-regular.svg#Orbitron') format('svg'); /* Legacy iOS */
}
/* orbitron-700 - latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  src: url('../../static/fonts/orbitron-v23-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../static/fonts/orbitron-v23-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../static/fonts/orbitron-v23-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../static/fonts/orbitron-v23-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../../static/fonts/orbitron-v23-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../static/fonts/orbitron-v23-latin-700.svg#Orbitron') format('svg'); /* Legacy iOS */
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../../static/fonts/montserrat-v23-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../static/fonts/montserrat-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../static/fonts/montserrat-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../static/fonts/montserrat-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../static/fonts/montserrat-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../static/fonts/montserrat-v23-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #b94e9c;
  --ifm-color-primary-dark: #aa438e;
  --ifm-color-primary-darker: #a03f86;
  --ifm-color-primary-darkest: #84346e;
  --ifm-color-primary-light: #c061a7;
  --ifm-color-primary-lighter: #c46aac;
  --ifm-color-primary-lightest: #cf87bc;
  --ifm-code-font-size: 95%;
  /* --ifm-heading-font-family: 'Orbitron', 'sans-serif'; */
  --ifm-font-family-base: 'Montserrat', 'sans-serif';
  --ifm-menu-color-active: #cf87bc;
  --ifm-menu-link-sublist-icon-filter: invert(100%) sepia(94%) saturate(17%) hue-rotate(223deg) brightness(104%) contrast(98%);
  --ifm-navbar-height: 4rem;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #07c0c5;
  --ifm-color-primary-dark: #06adb1;
  --ifm-color-primary-darker: #06a3a7;
  --ifm-color-primary-darkest: #05868a;
  --ifm-color-primary-light: #08d3d9;
  --ifm-color-primary-lighter: #08dde3;
  --ifm-color-primary-lightest: #13f1f7;
  --ifm-menu-color: #F5F8FC;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar__brand {
  display: flex;
  align-items: center;
}

.navbar__logo {
  height: 3.5rem;
}

.navbar__title, .navbar__link--active {
  font-family: 'Orbitron', 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.navbar__link--active {
  color: var(--ifm-navbar-link-color);
}

.theme-doc-sidebar-container {
  /* background-color: #20232B; */
}

.container {
  padding: 50px;
}

.menu__link {
  font-weight: bold;
}

.theme-edit-this-page {
  display: none;
}